.projectGroup {
  position: relative;
}
.mobilePic, .mobile, .desktopPic, .desktop {
  height: 100%;
}
.mobile {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.desktopView {
  position: relative;
  height: 200px;
}
.mobilePhoneView {
  position: relative;
  height: 200px;
  transform: translate(-20px, -125px);
}
.mobilePic {
  position: absolute;
  left: 47px;
  transform: scale(0.95, 0.8);
}
.desktopPic {
  position: absolute;
  left: 29px;
  top: -9px;
  transform: scale(0.95, 0.8);
}
.hoverInfo {
  position: absolute;
  left: -30px;
  top: -10px;
  width: 120%;
  height: 300px;
  z-index: 1;
  text-align: center;
  background-color: rgba(55, 46, 46, 0.7);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.projectDescription {
  padding: 40px;
  font-weight: bold;
  text-shadow: #222;
}
.hidden {
 visibility: hidden;
}
