.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.intro, .aboutContent {
  width: 300px;
  padding: 30px;
}
.intro {
  font-size: 4em;
  text-align: center;
}
