.aboutDiv {
  background-color: #4c4949;
  color: white;
  height: 100vh;
}
.aboutContainer {
  padding-top: 10%;
}
.intro, .aboutContent {
  display: inline-block;
  width: 45vw;
  text-align: center;
}
.intro {
  font-size: 5rem;
  /* opacity: 0; */
}
.aboutContent {
  margin-right: 40px;
}

/* ANIMATIONS */
.aboutIsVisible {
  animation: text-slide-in 3s ease-in;
}
@keyframes text-slide-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.aboutIsNotVisible {
  animation: text-slide-out 3s ease-in;
}
@keyframes text-slide-out {
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.introIsVisible, .introIsNotVisible {
  transition: opacity .5s ease-in-out;
}
.introIsVisible {
  opacity: 1;
}
.introIsNotVisible {
  opacity: 0;
}

