.aboutDiv {
  background-color: #4c4949;
  color: white;
  height: 100vh;
}
.aboutContainer {
  padding-top: 10%;
}
.intro, .aboutContent {
  display: inline-block;
  width: 45vw;
  text-align: center;
}
.intro {
  font-size: 5rem;
  transition: transform 2s;
}
.intro:hover {
  transform: rotate(30deg);
}
.aboutContent {
  margin-right: 40px;
}
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in:hover {
  opacity: 1;
}